.genredropdown-container {
  position: relative;
  display: inline-block;
}

.genredropdown-button {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  background-color: #4a4a4a63;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.genredropdown-button:hover {
  background-color: #89878734;
  color: #4a90e2;
}

.genredropdown-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  border: 1px solid #4a4a4a;
  border-radius: 6px;
  margin-top: 10px;
  z-index: 101;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.genredropdown-column {
  flex: 1;
  margin: 0 3px;
}

.genredropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  margin: 4px 0;
  border-radius: 6px;
  background-color: #80808063;
  border: 2px solid #000000;
}

.genredropdown-item.toggled-on {
  background-color: #277a3c;
  color: white;
  font-weight: bold;
  border: 2px solid #000000;
}

.genredropdown-item:hover {
  background-color: #89878734;
  color: #4a90e2;
}

.genredropdown-item svg {
  margin-left: 2px;
  height: 1em;
  width: 1em;
}

button {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  background-color: #4a4a4a63;
  font-weight: bold;
  cursor: pointer;
}
